dockerflow-examples/*/.dockerflow/

.vscode/

dockerflow-core-library/target/
dockerflow-local-runner/target/
dockerflow-remote-runner/target/

dockerflow-core-library/.settings/
dockerflow-local-runner/.settings/
dockerflow-remote-runner/.settings/

dockerflow-core-library/.factorypath
dockerflow-local-runner/.factorypath
dockerflow-remote-runner/.factorypath

dockerflow-core-library/.classpath
dockerflow-local-runner/.classpath
dockerflow-remote-runner/.classpath

dockerflow-core-library/.project
dockerflow-local-runner/.project
dockerflow-remote-runner/.project
