examples/*/.dockerflow/

.vscode/

core-library/target/
local-runner/target/
remote-runner/target/

core-library/.settings/
local-runner/.settings/
remote-runner/.settings/

core-library/.factorypath
local-runner/.factorypath
remote-runner/.factorypath

core-library/.classpath
local-runner/.classpath
remote-runner/.classpath

core-library/.project
local-runner/.project
remote-runner/.project
